params {
    max_time = 7.d   
    max_memory = 300.GB
    max_cpus = 48
}

process {
    executor = 'slurm'
    clusterOptions = '--nodes=1 --ntasks=1'

    queue = { task.time > 24.h ? 'long' : 'medium' }

    withLabel: 'process_high' {
        cpus = 16
        memory = { 64.GB * task.attempt } 
        
        time = { 12.h * task.attempt } 
    }
}

executor {
    queueSize = 20
    submitRateLimit = '20 sec'
    pollInterval = '30 sec'
    exitReadTimeout = '5 min'
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = '$SCRATCH/.singularity'
}
